// Styling for the masthead
header.masthead {
  padding-top: 100px;
  padding-bottom: 50px;

  text-align: center;

  color: $theme-success-text;
  background: $theme-success;
  img {
    display: block;

    margin: 0 auto 20px;
  }
  .intro-text {
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    font-size: 3em;
    font-weight: 500;
    .name {
      font-weight: 600;
    }
    .title {
      display: block;
    }
    .skills {
      display: block;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    padding-top: 200px;
    padding-bottom: 100px;
    .intro-text {
      font-size: 4em;
      .name {
      }
      .skills {
      }
    }
  }
}
